venv/
.env
*.db
__pycache__/
test.ipynb
.DS_Store
test2.ipynb
customers-1000.csv
downloaded.csv
downloaded_database.db
db_store.sqlite
example_db_connection_query.txt
uploads/
*.csv
uploads/
backend/customers-2000000.csv
*.csv
backend/db_store.sqlite
